<nav class="navbar">

    <div class="logo" routerLink="/" style="cursor: pointer;">

        <img src="/images/dodo.jpg" alt="Smart Budget Moris Logo">

        <div class="logo-text">

            <h2>Smart Budget Moris</h2>

            <span>National Budget Simplified</span>

        </div>

    </div>

    <ul class="nav-links">

        <li routerLink="/" style="cursor: pointer;">🏠 Home</li>

        <li routerLink="/statistics" style="cursor: pointer;">📊 Statistics</li>

        <li style="cursor: pointer;">💡 Smart Budget</li>

    </ul>

</nav>