<nav class="navbar">

    <div class="logo">

        <img src="/images/dodo.jpg" alt="Smart Budget Moris Logo">

        <div class="logo-text">

            <h2>Smart Budget Moris</h2>

            <span>Making the National Budget Clear</span>

        </div>

    </div>

    <ul class="nav-links">

        <li class="active">
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Statistics</a>
        </li>

        <li>
            <a href="#">Smart Budget</a>
        </li>

    </ul>

</nav>